<div class='body-userInfo-wrapper'>
  <div class='body-userInfo-top'>
    <div class='bodyLeft-userIcon'>
      <% if user.profil_img %>
        <img src='/images/profil_images/<%= user.user_id %>.jpg'></img>
      <% else %>
        <img src='/images/profil_images/default.jpg'></img>
      <% end %>
    </div>
  </div>
  <div class='body-userInfo-bottom'>
    <div class='body-userName-wrapper'>
      <div class='body-userNameUserId'>
        <p class='body-userName'><%= user.name %></p>
        </br>
        <p class='body-userId'>@<%= user.user_id %></p>
      </div>
      <div>
        <% unless user.id == @user.id %>
          <input type='submit' class='follow-btn <%= 'followed' if followed == true %>' data-user='<%= user.id %>' value='<%= text %>'></input>
        <% end %>
      </div>
    </div>
    <div class='body-userInfo'>
      <div class='body-tweetsMyself'>
        <p class='userInfo-top'>ツイート</p>
        <p class='userInfo-bottom'><%= Post.where(user_id: user.user_id).length %></p>
      </div>
      <div class='body-followsMyself'>
        <p class='userInfo-top'>フォロー</p>
        <p class='userInfo-bottom'><%= Follow.where(follower: user.id).length %></p>
      </div>
      <div class='body-followersMyself'>
        <p class='userInfo-top'>フォロワー</p>
        <p class='userInfo-bottom'><%= Follow.where(followed: user.id).length %></p>
      </div>
    </div>
  </div>
</div>